@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #101012;
}

li {
	list-style: none;
}

.container {
	margin: 20px auto;
/*	width: 700px;*/
	text-align: center;
}

.fa-spinner {
	color: white;
}

.logo {
	background: url(../favoritebandslogosmall.png);
	width: 300px;
	height: 60px;
	margin-bottom: 10px;
	display: inline-block;
}

.navbar {
	.button-home {
		background: url(../button-home.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.button-home:hover {
		background: url(../hoverbutton-home.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
		border: 1px solid #43B940;
		border-top: none;
		border-right: none;
		border-left: none;
		cursor: pointer;
	}
	.button-newband {
		background: url(../button-newband.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 170px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.button-newband:hover {
		background: url(../hoverbutton-newband.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 170px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
		border: 1px solid #43B940;
		border-top: none;
		border-right: none;
		border-left: none;
		cursor: pointer;
	}	
	.button-about {
		background: url(../button-about.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.button-about:hover {
		background: url(../hoverbutton-about.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
		border: 1px solid #43B940;
		border-top: none;
		border-right: none;
		border-left: none;
		cursor: pointer;
	}
	.button-contact {
		background: url(../button-contact.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.button-contact:hover {
		background: url(../hoverbutton-contact.png);
		width: 150px;
		height: 56px;
		margin-bottom: 10px;
		display: inline-block;
		border: 1px solid #43B940;
		border-top: none;
		border-right: none;
		border-left: none;
		cursor: pointer;
	}
}

.app {
/*	border: 1px solid #282828;
	border-radius: 5px;
	background: #181818;
		max-width: 1000px;
		min-width: 700px;
		margin: 0 auto;*/
}

.app-container {
	border: 1px solid #282828;
	border-radius: 5px;
	background: #181818;
	max-width: 1000px;
	min-width: 700px;
	margin: 0 auto;
	h1 {
		color: white;
	}
}

.band-name { 
	@include outer-container(100%);
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 0px;
		.band-name-item {
			@include span-columns(4);
			@include omega(3n);
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid #282828;
			border-top: none;
			border-left: none;
			border-right: none;
			color: #A0A0A0;
			height: 275px;
			min-width: 200px;
			.band-image {
				min-width: 200px;
				height: 200px;
				margin: 10px auto;
				overflow: hidden;
/*			.band-image-scroll {
				width: 200px;
				height: 200px;
				margin: 10px auto;
				overflow: scroll;
			}*/
				img {
					width: 300px;
					min-height: 200px;
				}
			}
		}
		.band-name-item:hover {
			color: white;
			background: #282828;
			cursor: pointer;
			border-color: #43B940;
		}
	}
	p {
		margin: 0;
		font-family: 'Abel', sans-serif;
		font-size: 1.2em;
}
.add-button {
	background: #131313;
	border: 1px solid #A0A0A0;
	border-radius: 15px;
	padding: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 150px;
	color: #A0A0A0;
	font-family: 'Abel', sans-serif;
}
.add-button:hover {
	color: white;
	border: 1px solid #43B940;
}

.band {
	.back-button {
		background: #131313;
		border: 1px solid #A0A0A0;
		border-radius: 15px;
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 100px;
		padding: 5px;
		font-family: 'Abel', sans-serif;
		color: #A0A0A0;
	}
	.back-button:hover {
		color: white;
		border: 1px solid white;
	}
	.edit-button {
		background: #131313;
		border: 1px solid #A0A0A0;
		border-radius: 15px;
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 100px;
		padding: 5px;
		font-family: 'Abel', sans-serif;
		color: #A0A0A0;
	}
	.edit-button:hover {
		color: white;
		border: 1px solid white;
	}
	.name {
		color: white;
		font-family: 'Abel', sans-serif;
		font-weight: 300;
		margin-left: 20px;
	}
	.fa {
		color: white;
		padding-right: 5px;
	}
	.fav {
		font-family: 'Abel', sans-serif;
		font-size: 1em;
		color: #43B940;
		margin-bottom: 0px;
	}
	.favname {
		font-family: 'Abel', sans-serif;
		font-style: italic;
		font-size: 1.2em;
		color: #A0A0A0;
		margin-top: 5px;
	}
	.why {
		font-family: 'Abel', sans-serif;
		font-size: 1em;
		color: #43B940;
		margin-bottom: 0px;
	}
	.desc {
		font-family: 'Abel', sans-serif;
		font-size: 1.2em;
		color: #A0A0A0;
		width: 60%;
		margin: 5px auto;
	}
	img {
		max-width: 600px;
	}
}
.add-band {
	.addheader {
		color: white;
		font-family: 'Abel', sans-serif;
		font-weight: 300;
	}
	label {
		color: #A0A0A0;
		font-family: 'Abel', sans-serif;
		font-size: 1em;
		margin-bottom: 0px;
		input {
			display: block;
			background: #131313;
			border: 1px solid #A0A0A0;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 20px;
			margin: 0 auto;
			width: 300px;
			color: #A0A0A0;
			font-family: 'Abel', sans-serif;
		}
		.descript {
			display: block;
			background: #131313;
			border: 1px solid #A0A0A0;
			border-radius: 5px;
			padding: 5px;
			margin-left: 20px;
			margin-bottom: 20px;
			margin: 0 auto;
			width: 300px;
			height: 200px;
			color: #A0A0A0;
			font-family: 'Abel', sans-serif;
		}
	}
	.submit-band {
		background: #131313;
		border: 1px solid #A0A0A0;
		border-radius: 15px;
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 100px;
		padding: 5px;
		font-family: 'Abel', sans-serif;
		color: #A0A0A0;
	}
	.submit-band:hover {
		color: white;
		border: 1px solid white;
	}
}

.edit-band {
	.editheader {
		color: white;
		font-family: 'Abel', sans-serif;
		font-weight: 300;
	}
	label {
		color: #A0A0A0;
		font-family: 'Abel', sans-serif;
		font-size: 1em;
		margin-bottom: 0px;
		input {
			display: block;
			background: #131313;
			border: 1px solid #A0A0A0;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 20px;
			margin: 0 auto;
			width: 300px;
			color: #A0A0A0;
			font-family: 'Abel', sans-serif;
		}
		.descript {
			display: block;
			background: #131313;
			border: 1px solid #A0A0A0;
			border-radius: 5px;
			padding: 5px;
			margin-left: 20px;
			margin-bottom: 20px;
			margin: 0 auto;
			width: 300px;
			height: 200px;
			color: #A0A0A0;
			font-family: 'Abel', sans-serif;
		}
	}
	.resubmit-band {
		background: #131313;
		border: 1px solid #A0A0A0;
		border-radius: 15px;
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 100px;
		padding: 5px;
		font-family: 'Abel', sans-serif;
		color: #A0A0A0;
	}
	.resubmit-band:hover {
		color: white;
		border: 1px solid white;
	}
}
